body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

/*Old Code
/* .btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
} */

.btn {
  margin: 1.5625rem; /* 25px / 16px */
  display: inline-block;
  height: 12.5rem; /* 200px / 16px */
  width: 12.5rem; /* 200px / 16px */
  border: 0.625rem solid black; /* 10px / 16px */
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 1.25rem white;
  background-color: grey;
}

/* Small screens */
@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 70%;
  }
}

/* Large screens */
@media (min-width: 992px) {
  .container {
    width: 50%;
  }
}

